<%-include('../../layout/header.ejs')%>

<div class="untree_co-section before-footer-section">
  <%if(cart===null || cart.items.length==0){%>
    <h1 class=" d-flex justify-content-center">No items in Cart</h1>
  <%}else{%>
    <div class="container">
      <div class="row ">
        <!-- <form class="col-md-12" method="post"> -->
          <div class="site-blocks-table">
          <h3>Cart</h3>
              <table class="table">
                <thead>
                  <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <%for(let i=0;i<cart.items.length;i++){%>
                    <%let eachItem=cart.items[i]%>
                    <tr>
                      <td class="product-thumbnail">
                        <img src="<%=eachItem.productId.image%>" alt="Image" class="img-fluid">
                      </td>
                      <td class="product-name">
                        <h2 class="h5" style="font-size: 1.6vw;"><%=eachItem.productId.name%></h2>
                      </td>
                      <td style="font-size: 1.6vw;">$<%=eachItem.productId.price%></td>
                      <td>
                        <div class="input-group d-flex align-items-center quantity-container" style="max-width: 120px;">
                          <div class="input-group-prepend">                                     
                            <form action="/decQty" method="post">
                              <input type="hidden" name="id" value="<%=eachItem.productId._id%>">
                              <button class="btn btn-outline-black decrease" type="submit">&minus;</button>
                            </form>
                          </div>
                          <span class="form-control" style="font-size: 1.5vw;" id="qty"><%=eachItem.qty%></span>
                          <div class="input-group-append">
                            <button class="btn btn-outline-black increase" onclick="incQty('<%=eachItem.productId._id%>') ">&plus;</button>
                          </div>
                        </div>
                      </td>
                      <td>
                        <form action="" method="post">
                          <input type="hidden" name="proId" value="<%=eachItem.productId._id%>">
                          <input type="submit" value="X">
                        </form>
                    </tr>
                  <%}%>
                </tbody>
              </table>
          </div>
        <!-- </form> -->
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="row mb-5">
            <!-- <div class="col-md-6">
              <a href="/shop"><button class="btn btn-primary btn-sm btn-block">Continue Shopping</button></a>
            </div> -->
          </div>
        </div>
        <div class="col-md-6 pl-5">
          <div class="row justify-content-end">
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-12 text-right border-bottom mb-5">
                  <h3 class=" h4 text-uppercase">Cart Totals</h3>
                </div>
              </div>
              <!-- <div class="row mb-3">
                <div class="col-md-6">
                  <span class="text-black">Subtotal</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong class="text-black">$230.00</strong>
                </div>
              </div> -->
              <div class="row mb-5">
                <div class="col-md-6">
                  <span class="text-black">Total</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong class="text-black"><span id="totalPrice"><%=cart.totalPrice%></span></strong>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <a href="/checkOut"><button class="btn btn-primary btn-sm py-3 btn-block" >Proceed To Checkout</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%}%>
  </div>

  <%-include('../../layout/footer.ejs')%>