<%-include('../../layout/header.ejs')%>
<div class="untree_co-section">
  <div class="container">    
    <div class="row">
      <div class="col-md-6 mb-5 mb-md-0">
        <h2 class="h3 mb-3">Shipping Details</h2>
              <div class="card" style="width: 23rem;">
                <div class="card-body">
                  <h5 class="card-title"><%=address.name%></h5>
                  <p class="card-text"><%=address.home%><br>
                    <%=address.state%>-<%=address.pincode%>
                    <br><%=address.mobile_num%></p>
                </div>
              </div>
      </div>
      <div class="col-md-6">
        <div class="row mb-5">
          <div class="col-md-12">
            <h2 class="h3 mb-3  ">Your Order</h2>
            <div class="p-3 p-lg-5 border bg-white">
              <table class="table site-block-order-table mb-5">
                <thead>
                  <th>Product</th>
                  <th>Total</th>
                </thead>
                <tbody>
                  <%if(cart!=null){%>
                    <%for(let i=0;i<cart.items.length;i++){%>
                      <%let eachItem=cart.items[i]%>
                        <tr>
                          <td>
                            <%=eachItem.productId.name%><strong class="mx-2">x</strong>
                              <%=eachItem.qty%>
                          </td>
                          <td>$<%=eachItem.productId.price%>
                          </td>
                        </tr>
                        <%}%>
                          <%}%>
                          <tr>
                            <td>Total Price</td>
                            <td>$<%=cart.totalPrice%></td>
                          </tr>
                            <tr>
                              <td class="text-black font-weight-bold"><strong>Coupon Applied</strong></td>
                              <td class="text-black">-$<%=cart.coupon%></td>
                            </tr>
                            <tr>
                              <td class="  font-weight-bold"><strong>Order Total</strong></td>
                              <td class="  font-weight-bold"><strong>$<%=cart.totalPrice-cart.coupon%></strong></td>
                            </tr>
                </tbody>
              </table>

              <div class="border p-3 mb-5">
                <form action="/placeOrder" method="post">
                  <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio1" name="paymentMethode" value="COD" checked>COD
                    <label class="form-check-label" for="radio1"></label>
                  </div>

                  <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio2" name="paymentMethode" value="PayPal">PayPal
                    <label class="form-check-label" for="radio2"></label>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-sm mt-3">Place Order</button>
                  </div>
                </form>

                <!-- <button onclick="stripe()" >CARD</button> -->
                <!-- <form class="form">
                  <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio1" name="paymentMethode" value="COD" checked>COD
                    <label class="form-check-label" for="radio1"></label>
                  </div>

                  <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio2" name="paymentMethode" value="PayPal">PayPal
                    <label class="form-check-label" for="radio2"></label>
                  </div>
                  <div class="form-check">
                    <input type="radio" class="form-check-input" id="radio3" name="paymentMethode" value="Card">Card
                    <label class="form-check-label" for="radio3"></label>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-sm mt-3">Place Order</button>
                  </div>
                </form> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function stripe(){
    fetch("http://localhost:3000/create-checkout-session", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body:JSON.stringify({
      payment:"body"
    }),
  })
    .then(res => {
      if (res.ok) return res.json()
      return res.json().then(json => Promise.reject(json))
    })
    .then(({ url }) => {
      window.location = url
    })
    .catch(e => {
      console.error(e.error)
    })
  }
</script>


<!-- <script>
    const form=document.querySelector('.form');
    form.addEventListener('submit',event=>{
      event.preventDefault();
      const formData=new FormData(form);
      const payment=formData.get('paymentMethode');
      console.log(payment);
      fetch("http://localhost:3000/placeOrder", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body:JSON.stringify({
      payment:payment
    }),
  })
    .then(res => {
      if (res.ok) return res.json()
      return res.json().then(json => Promise.reject(json))
    })
    .then(({ url }) => {
      window.location = url
    })
    .catch(e => {
      console.error(e.error)
    })
    })
</script> -->
<%-include('../../layout/footer.ejs')%>