<%-include('../../layout/header.ejs')%>
<section class="py-5 header">
  <div class="container">
      <div class="row">
          <div class="col-md-3">
              <!-- Tabs nav -->
                <div class="nav flex-column nav-pills nav-pills-custom" >
                    <a class="nav-link mb-3 p-3 shadow" href="/profile">
                      <span class="font-weight-bold small text-uppercase">Personal information</span>
                    </a>

                    <a class="nav-link mb-3 p-3 shadow" href="/address">
                        <span class="font-weight-bold small text-uppercase">Addresses</span>
                    </a>
                    <a class="nav-link mb-3 p-3 shadow active">
                        <span class="font-weight-bold small text-uppercase">Orders</span>
                    </a>
                </div>
          </div>

          <div class="col-md-9">
              <!-- Tabs content -->
              <div class="tab-content" id="v-pills-tabContent">
                  <div class="tab-pane fade shadow rounded bg-white show active p-5" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <h4 class="font-italic mb-4">My Orders</h4>
                    <%if(order==null || order.length==0){%>
                      <p>No orders Made</p>
                    <%}else{%>
                      <div class="table-responsive">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th scope="col">Order Id</th>
                              <th scope="col">Order Date</th>
                              <th scope="col">Order Total</th>
                              <th scope="col">Payment</th>
                              <th scope="col">Status</th>
                              <th scope="col"></th>
                              <th scope="col"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <%order.forEach((item)=>{%>
                            <tr>
                              <%let date = item.date%>
                              <%let isoString = date.toISOString()%>
                              <%let newDate = isoString.split('T')[0]%>
                              <td><%=item._id%></td>
                              <td><%=newDate%></td>
                              <td>$<%=item.products.totalPrice%></td>
                              <td><%=item.payment%></td>
                              <td><%=item.status%></td>
                              <td>
                                <%if(item.status=="Cancelled"){%>
                                  
                                <%}else if(item.status=="Delivered"){%>
                                  <form action="/returnOrder" method="post">
                                    <input type="hidden" name="orderId" value="<%=item._id%>">
                                    <button class="btn-danger" style="border-radius: 10px; border: 0;" type="submit">Return</button>
                                  </form>
                                <%}else{%>
                                  <form action="/cancelOrder" method="post">
                                    <input type="hidden" name="orderId" value="<%=item._id%>">
                                    <button class="btn-danger" style="border-radius: 10px; border: 0;" type="submit">Cancel</button>
                                  </form>
                                <%}%>
                              </td>
                              <!-- <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                              </svg></td> -->
                            </tr>
                            <%})%>
                          </tbody>
                        </table>
                      </div>
                    <%}%>
                  </div>                
              </div>
          </div>
      </div>
  </div>
</section>

<%-include('../../layout/footer.ejs')%>