<%-include('./layout/header.ejs')%>

  <!-- <style>
    * {
      box-sizing: border-box;
    }
   
  </style> -->


  <script>
    function openForm() {
      document.getElementById("popupForm").style.display = "block";
    }
    function closeForm() {
      document.getElementById("popupForm").style.display = "none";
    }
  </script>
  <div class="container-fluid px-4">
    <div class="openBtn">
      <button class="openButton my-3 me-2" onclick="openForm()"><strong>Add category</strong></button>
    </div>
    <div class="loginPopup">
      <div class="formPopup" id="popupForm">
        <form action="/admin_panel/category" class="formContainer" method="post" enctype="multipart/form-data">
          <label for="email">
            <strong>Category Name</strong>
          </label>
          <input type="text" id="email" placeholder="category name" name="name" required>
          <label for="psw">
            <strong>Choose the image</strong>
          </label>
          <br><br>
          <input type="file" name="image" accept="image/*" required>
          <br><br>
          <button type="submit" class="btn">Add</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
      </div>
    </div>

    <!-- <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/admin_panel">Dashboard</a></li>
        <li class="breadcrumb-item active">Tables</li>
    </ol> -->
    <!-- <div class="card mb-4">
        <div class="card-body">
            DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
            <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
            .
        </div>
    </div> -->
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Category List
      </div>
      <div class="card-body">
        <% if(details!=null) { %>
          <table id="datatablesSimple">
            <thead>
              <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Action</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Name</th>
                <th>Email</th>
              </tr>
            </tfoot>
            <tbody>
              <% details.forEach(function(category){ %>
                <tr>
                  <td>
                    <%=category.name%>
                  </td>
                  <td><img src="/public/uploads/<%=category.image%>" alt="" width="200px" height="100px"></td>
                  <td>
                    <a class="btn btn-primary" href="/admin_panel/editCategory?id=<%=category._id%>"
                      role="button">Edit</a>
                    <% if(category.status==true) {%>
                      <a class="btn btn-danger" href="/admin_panel/statusCategory?id=<%= category._id%>"
                        role="button">Unlist</a>
                      <%}else{%>
                        <a class="btn btn-success" href="/admin_panel/statusCategory?id=<%= category._id%>"
                          role="button">List</a>
                        <%}%>
                  </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
          <% } %>
      </div>
    </div>
  </div>

  <%-include('./layout/footer.ejs')%>