<%-include('./layout/header.ejs')%>
  <script>
    function openForm() {
      document.getElementById("popupForm").style.display = "block";
    }
    function closeForm() {
      document.getElementById("popupForm").style.display = "none";
    }
  </script>
  
<div class="container-fluid px-4">
    <div class="openBtn">    
      <button class="openButton my-3 me-2" onclick="openForm()"><strong>Add Coupon</strong></button>
    </div>
      <div class="loginPopup">
        <div class="formPopup" id="popupForm">
          <form action="/admin_panel/coupen" class="formContainer" method="post">
            
            <label for="code">
              <strong>coupon Code</strong>
            </label>
            <input  type="text" placeholder="Coupon Code" name="code" style="text-transform: uppercase ;" required>

            <label for="discount">
              <strong>Discount</strong>
            </label>
            <input type="number" placeholder="Discount" name="discount" required>

            <label for="minAmount">
              <strong>Min Amount</strong>
            </label>
            <input type="number" placeholder="Minumum Amount" name="minAmount" required>

            <label for="startDate">
              <strong>Strat Date</strong>
            </label>
            <input type="date"  placeholder="Start Date" name="startDate" required>

            <label for="endDate">
              <strong>End Date</strong>
            </label>
            <input type="date" placeholder="End Date" name="endDate" required>

            <button type="submit" class="btn">Add</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
          </form>
        </div>
      </div>
    <div class="card">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Coupon List
        </div>
        <div class="card-body">
            <% if(details!=null) { %>
            <table id="example">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Discount</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% details.forEach(function(coupon){ %>
                    <tr>
                        <td style="text-transform:uppercase ;"><%=coupon.code%></td>
                        <td><%=coupon.discount%>%</td>
                        <td>
                          <%let date = coupon.startDate%>
                          <%let isoString = date.toISOString()%>
                          <%let newDate = isoString.split('T')[0]%>
                          <%=newDate%>
                        </td>
                        <td>
                          <%let date1 = coupon.endDate%>
                          <%let isoString1 = date1.toISOString()%>
                          <%let newDate1 = isoString1.split('T')[0]%>
                          <%=newDate1%>
                        </td>
                        <td>
                            <a class="btn btn-primary" href="/admin_panel/editCoupen?id=<%=coupon._id%>" role="button">Edit</a>
                            <% if(coupon.status==true) {%>
                              <a class="btn btn-danger" href="/admin_panel/deleteCoupen?id=<%= coupon._id%>" role="button">Unlist</a>
                            <%}else{%>
                              <a class="btn btn-success" href="/admin_panel/deleteCoupen?id=<%= coupon._id%>" role="button">List</a>
                            <%}%>
                        </td>
                    </tr>   
                    <% }) %>
                </tbody>
            </table>
            <% } %>
        </div>
    </div>
</div>

<%-include('./layout/footer.ejs')%>