<%-include('./layout/header.ejs')%>

<style>
    * {
      box-sizing: border-box;
    }
    .openBtn {
      display: flex;
      justify-content: right;
    }
    .openButton {
      border: none;
      border-radius: 5px;
      background-color: #1c87c9;
      color: white;
      padding: 14px 20px;
      cursor: pointer;
    }
    .loginPopup {
      position: relative;
      text-align: center;
      width: 100%;
    }
    .formPopup {
      display: none;
      position: fixed;
      left: 45%;
      top: 5%;
      transform: translate(-50%, 5%);
      border: 3px solid #999999;
      z-index: 9;
    }
    .formContainer {
      max-width: 300px;
      padding: 20px;
      background-color: #fff;
    }
    .formContainer input[type=text],
    .formContainer input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 20px 0;
      border: none;
      background: #eee;
    }
    .formContainer input[type=text]:focus,
    .formContainer input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }
    .formContainer .btn {
      padding: 12px 20px;
      border: none;
      background-color: #8ebf42;
      color: #fff;
      cursor: pointer;
      width: 100%;
      margin-bottom: 15px;
      opacity: 0.8;
    }
    .formContainer .cancel {
      background-color: #cc0000;
    }
    .formContainer .btn:hover,
    .openButton:hover {
      opacity: 1;
    }
  </style>


  <script>
    function openForm() {
      document.getElementById("popupForm").style.display = "block";
    }
    function closeForm() {
      document.getElementById("popupForm").style.display = "none";
    }

  </script>


<div class="container-fluid px-4">
    <div class="openBtn">
        
        <button class="openButton my-3 me-2" onclick="openForm()"><strong>Add product</strong></button>
      </div>
      <div class="loginPopup">
        <div class="formPopup" id="popupForm">
          <form action="/admin_panel/product" class="formContainer" method="post" enctype="multipart/form-data">
            
            <label for="email">Product Name</label>
            <input type="text" id="email" placeholder="product name" name="name" required>
            <br>

            <label for="email">Product description</label>
            <input type="text" id="email" placeholder="product description" name="description" required>
            <br>

            <label for="email">Product Category</label>
            <select id="cars" name="category">
                <% if(category!=null){%>
                    <% category.forEach((category)=>{%>
                        <option value="<%=category.name%>"><%=category.name%></option>
                     <%})%>
                 <%}%>
            </select>
            <br>

            <label for="price">Product price</label>
            <input type="number" id="email" placeholder="product price" name="price" required>
            <br>

            <label for="email">Product quantity</label>
            <input type="number"  placeholder="product quantity" name="quantity" required>
            <br>
            <label for="quantity">Product image</label>
            <input type="file"  name="image" required>
            <br>

            <label for="color">Product Color</label>
            <input type="text"  placeholder="product Color0" name="color" required>
            <br>

            <button type="submit" class="btn">Add</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>

          </form>
        </div>
      </div>


      <!-- edit form pop up -->

    <!-- <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/admin_panel">Dashboard</a></li>
        <li class="breadcrumb-item active">Tables</li>
    </ol> -->
    <!-- <div class="card mb-4">
        <div class="card-body">
            DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
            <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
            .
        </div>
    </div> -->

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Product List
        </div>
        <div class="card-body">
            <% if(details!=null) { %>
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>des</th>
                        <th>cate</th>
                        <th>image</th>
                        <th>color</th>
                        <th>price</th>
                        <th>quantity</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% details.forEach(function(product){ %>
                    <tr>
                        <td><%=product.name%></td>
                        <td><%=product.description%></td>
                        <td><%=product.category%></td>
                        <td><img src="/public/uploads/<%=product.image%>" alt="" width="70px" height="70px" style="border-radius:20px ;"></td>
                        <td><%=product.color%></td>
                        <td><%=product.price%></td>
                        <td><%=product.quantity%></td>
                        <td>
                            
                          <a class="btn btn-primary" href="/admin_panel/editProduct?id=<%=product._id%>" role="button">Edit</a>
                          <% if(product.status==true) {%>
                            <a class="btn btn-danger" href="/admin_panel/statusProduct?id=<%= product._id%>" role="button">Unlist</a>
                          <%}else{%>
                            <a class="btn btn-success" href="/admin_panel/statusProduct?id=<%= product._id%>" role="button">List</a>
                            <%}%>
                        </td>
                    </tr>   
                    <% }) %>
                </tbody>
            </table>
            <% } %>
        </div>
    </div>
</div>

<%-include('./layout/footer.ejs')%>



